view,
button,
input,
textarea,
select,
label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
uni-page-wrapper{
    background: #f9f9fa;
    height: 100vh;
}
/* 自定义卡片样式 */
.custom-card {
    background: #FFFFFF;
    box-shadow: 0px 6rpx 10rpx 2rpx rgba(232,225,225,0.34);
    border-radius: 30rpx;
    overflow: hidden;
}

.footer-btn >uni-button {
    font-size: 28rpx;
    height: 88rpx;
    width: 600rpx;
    line-height: 90rpx;
    padding: 0 30rpx;
    color: #ffffff;
    background: #DF3030;
    border-radius: 50rpx;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
